<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimCity Server Status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Is your SimCity servers are available? Find out which zones are available or full.">
	
	<meta property="og:title" content="SimCity Server Status"/>
	    <meta property="og:type" content="website"/>
	    <meta property="og:url" content="http://simcitystat.us/"/>
	    <meta property="og:image" content="http://simcitystat.us/img/sim-city-burning.png"/>
	    <meta property="og:site_name" content="SimCity Server Status"/>
	    <meta property="fb:admins" content="10606579"/>
	    <meta property="og:description"
	          content="Is your SimCity servers are available? Find out which zones are available or full."/>

    <link href='http://fonts.googleapis.com/css?family=Tauri' rel='stylesheet' type='text/css'>

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/font-awesome.css" rel="stylesheet">
	<link href="/css/simcity.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

  </head>

  <body>
	  
	  <div id="fb-root"></div>
	  <script>(function(d, s, id) {
	    var js, fjs = d.getElementsByTagName(s)[0];
	    if (d.getElementById(id)) return;
	    js = d.createElement(s); js.id = id;
	    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=199012820162911";
	    fjs.parentNode.insertBefore(js, fjs);
	  }(document, 'script', 'facebook-jssdk'));</script>

	  <div class="masthead">
		  <div class="container-narrow">
			  <h1>SIMCITY SERVER STATUS</h1>
		  </div>
	  </div>

    <div class="container-narrow">
		
		{% for region in servers %}
		
		<h3>{{ region.name }}</h3>
		<hr />
		
		<div class="row-fluid marketing">		  
			<div class="span6">
			{% for server in region.servers %}
				{% if loop.index0 == region.half %}</div><div class="span6">{% endif %}
				<h4><i class="{{ server.icon }}"></i> {{ server.Desc }}</h4>
				<div class="sparkline" data-chart="{{ server.chart }}"></div>
			{% endfor %}	
			</div>
		</div>
		
		{% endfor %}
		
		<div class="row-fluid" style="margin: 60px 0px;"><div class="span12">
			<div class="fb-like" data-href="http://simcitystat.us" data-send="true" data-width="450" data-show-faces="true" data-font="lucida grande"></div>
			<a href="https://twitter.com/share" class="twitter-share-button" data-text="Is your SimCity server up? Find out which zones are available..." data-via="simcity">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div></div>		

    </div> <!-- /container -->


	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/js/sparkline.min.js"></script>
	<script type="text/javascript">
	$(".sparkline").each(function () {
	
		var data = $(this).data('chart').split(',');
		
		console.log(data);
	
		$(this).sparkline(data, {
			disableTooltips: true,
	    	type: 'tristate',
	    	barWidth: 3,
	    	barSpacing: 1});
		
	});
	</script>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-39121119-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

  </body>
</html>